<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Triangle</key>
	<string>triangle.png</string>
	<key>Square</key>
	<string>square.png</string>
	<key>Circle</key>
	<string>circle.png</string>
</dict>
</plist>
